
<body class="text-center container w-30">
  <h2 class="text-center mt-5">
    <%= link_to "apprAIse-factory", home_index_path, :style=>"text-decoration:none;color:#177180"  %>
  </h2>
  <div class=" justify-content-center jumbotron  bg-white">
    <h5>apprAIse-factoryへのご登録、ありがとうございました。 </h5>
    <h5>会員認証メールをお送りしますので、メールボックスにてご確認してください。</h5>
  </div>
</body>
