<h2 class="text-center mt-5" style="color:#177180">apprAIse-factory</h2>
<div class="container-fluid d-flex justify-content-center jumbotron vertical-center bg-white">
  <div class="row w-100">
    <div class="col text-center align-self-center">
      <br />
      <%= link_to  new_user_session_path, :class => 'btn p-3 pl-5 pr-5 mb-3 inline-block', :style =>"font-size:1.6rem; "  do %>
        <p>ログイン</p>
        <span class="border-top">Login</span>
      <% end %>
      <br />
      <%= link_to  new_user_registration_path, :class => 'btn p-3 pl-5 pr-5 mb-3 inline-block', :style =>"font-size:1.6rem;"  do %>
        <p>新規登録</p>
        <span class="border-top">Login</span>
      <% end %>
      <div class="col text-center align-self-center">
        <br />
          <a href="https://appraise-factory.net/contact" class="btn p-3 pl-5 pr-5 mb-3 inline-block" style="font-size:1.6rem">
            <p>お問合せ</p>
            <span class="border-top">Contact</span>
          </a>
      </div>
    </div>

  </div>
</div>

<style>
  a:hover {
    color: white !important;
    background-color: #21a9bf;
  }
  span{
    display: block;
    margin-top:-20px;
    font-size:15px;

  }
</style>
