/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

*{

}
.head-border {
    display: flex;
    align-items: center;
    color: #1da0cd;
}

.head-border:before,
.head-border:after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: #1da0cd;
}

.head-border:before {
    margin-right: 0.5rem;
}

.head-border:after {
    margin-left: 0.5rem;
}

.text-color{
  color: #1da0cd;
}
.bg-color2{
  background-color: #1da0cd;
}
.bordertop-color{
  border-top: solid 0.3rem #1da0cd;
}
.bordertop-color2{
  border-top: solid 0.1rem #1da0cd;
}
.borderbottom-color2{
  border-bottom: solid 0.1rem #1da0cd;
}

@media (max-width: 767.98px) {
  .w-30 {
    width: 100% !important;
  }
  .mx-w-100 {
    max-width: 100% !important;
  }
}
.required{
  color:red;
}
