<p><%= @resource.email %>さん</p>

<p>パスワードをリセットするには、以下のリンクからリセットしてください。</p>
<p>パスワードのリセットにお心当たりがない場合は、このメールを無視してください。</p>

<p><%= link_to 'パスワード変更ページへ', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>上記のリンクからリセットされるまで、パスワードは変更されません。</p>
<p>© 2020 apprAIse-factory株式会社</p>
